*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 24px;
}
.header__link{
    color: white;
}
.header{
    background-color: black;
}
.main__imgbox{
    display: flex;
    align-items: center;
    gap: 14px;
    padding-bottom: 14px;
}
.main__ota{
    background-color: black;
    width: 287px;
}
.main__section{
    background-color: black;
}
.main__raght{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.main__btn{
    border: none;
    padding: 8px;
    background-color: #FFFFFF1A;
   border-radius: 8px;
    color: #FFFFFF;
    
}
.main__title{
    color: white;
    margin-top: 8px;
    margin-bottom: 20px;
}
.main__text{
    color: white;
}
.bola{
    display: flex;
}
.main__span{
    color: #39965F;
}
.main__title1{
    color: white;
    padding-bottom: 16px;
    width: 633px;
    text-align: center;
    font-size: 32px;
     margin-left:  151px;
}
.main__btn2{
    color: white;
    background-color: #39965F;
    border-radius: 8px;
    padding: 8px 44px;
    border: none;
    margin-left:  391px;
}

.main__btn2:hover{
    background-color: blue;
    color: black;
    transition: 0.5s ease-in-out;
 
}
.main__text2{
    padding-bottom: 61px;
    color: white;
    width: 633px;
     margin-left:  151px;
    text-align: center;
}
.wrapper{
    display: flex;
    align-items: center;
}
.main{
    background-color: black;
    margin-top: 20px;
}
body{
    background-color: black;
    
}
.header__link:hover{
    color: rgb(0, 21, 255);
    transition: 0.5s ease-in-out;
}